In [17]:
require("dplyr")

In [18]:
trees_df = read.csv("../Results/trees_sorted.csv")
trees_df$date = as.Date(trees_df$date)

In [19]:
plots      = sort(rep(as.character(unique(trees_df$plot)), 4))
census     = rep(seq(1,4), length(unique(trees_df$plot)))
test       = as.data.frame(cbind(plots, census))
test$start = NA
test$end   = NA

In [20]:
for(i in 1:nrow(test)){
    tmp = subset(trees_df, plot == test[i, "plots"] & census == test[i, "census"])
    if (nrow(tmp) != 0 ){
        test$start[i] = min(tmp$date, na.rm = T)
        test$end[i]   = max(tmp$date, na.rm = T)
    }
}
test$middle = (test$start+test$end)/2

In [21]:
test

   plots  census start end   middle
1  Belian 1      15135 15192 15163.5
2  Belian 2      15654 16056 15855.0
3  Belian 3      16819 17093 16956.0
4  Belian 4         NA    NA      NA
5  BNorth 1      15167 15169 15168.0
6  BNorth 2      15525 15834 15679.5
7  BNorth 3      16692 16721 16706.5
8  BNorth 4      17063 17066 17064.5
9  BSouth 1      15182 15185 15183.5
10 BSouth 2      15556 15582 15569.0
11 BSouth 3      16709 16713 16711.0
12 BSouth 4      17064 17066 17065.0
13 DC1    1      15074 15684 15379.0
14 DC1    2      17091 17091 17091.0
15 DC1    3         NA    NA      NA
16 DC1    4         NA    NA      NA
17 DC2    1      15745 16407 16076.0
18 DC2    2      17086 17086 17086.0
19 DC2    3         NA    NA      NA
20 DC2    4         NA    NA      NA
21 E      1      15122 15156 15139.0
22 E      2      15472 15833 15652.5
23 E      3      16699 16720 16709.5
24 E      4      17067 17074 17070.5
25 LF     1      15172 15173 15172.5
26 LF     2      15624 15680 15652.0
27 LF     3      16715 16717 16716.0
28 LF     4      17071 17073 17072.0
29 Seraya 1      15197 15201 15199.0
30 Seraya 2      16148 16206 16177.0
31 Seraya 3      17029 17089 17059.0
32 Seraya 4         NA    NA      NA
33 Tower  1      15141 15159 15150.0
34 Tower  2      15512 15516 15514.0
35 Tower  3      15901 15934 15917.5
36 Tower  4      16650 16652 16651.0

In [22]:
plots = sort(rep(as.character(unique(trees_df$plot)), 3))
steps = rep(c("1-2", "2-3", "3-4"), length(unique(trees_df$plot)))

test2 = as.data.frame(cbind(plots, steps))

In [23]:
test2$endtostart = NA
test2$midtomid   = NA

In [24]:
for( i in 1:nrow(test2)){
    a = as.character(test2$plot[i])
    b = as.integer(unlist(strsplit(as.character(test2$steps[i]), "-"))[1])
    c = b + 1

    end1   = test$end[which(test$plot == a & test$census == b)]
    start2 = test$start[which(test$plot == a & test$census == c)]

    mid1 = test$middle[which(test$plot == a & test$census == b)]
    mid2 = test$middle[which(test$plot == a & test$census == c)]

    test2$endtostart[i] = (start2 - end1)/365
    test2$midtomid[i] = (mid2 - mid1)/365
}

In [25]:
test2

   plots  steps endtostart midtomid
1  Belian 1-2   1.2657534  1.8945205
2  Belian 2-3   2.0904110  3.0164384
3  Belian 3-4          NA         NA
4  BNorth 1-2   0.9753425  1.4013699
5  BNorth 2-3   2.3506849  2.8136986
6  BNorth 3-4   0.9369863  0.9808219
7  BSouth 1-2   1.0164384  1.0561644
8  BSouth 2-3   3.0876712  3.1287671
9  BSouth 3-4   0.9616438  0.9698630
10 DC1    1-2   3.8547945  4.6904110
11 DC1    2-3          NA         NA
12 DC1    3-4          NA         NA
13 DC2    1-2   1.8602740  2.7671233
14 DC2    2-3          NA         NA
15 DC2    3-4          NA         NA
16 E      1-2   0.8657534  1.4068493
17 E      2-3   2.3726027  2.8958904
18 E      3-4   0.9506849  0.9890411
19 LF     1-2   1.2356164  1.3136986
20 LF     2-3   2.8356164  2.9150685
21 LF     3-4   0.9698630  0.9753425
22 Seraya 1-2   2.5945205  2.6794521
23 Seraya 2-3   2.2547945  2.4164384
24 Seraya 3-4          NA         NA
25 Tower  1-2   0.9671233  0.9972603
26 Tower  2-3   1.0547945  1.1054795
27 Tower  3-4   1.9616438  2.0095890

In [26]:
grp = group_by(test2, plots)

In [27]:
test2

   plots  steps endtostart midtomid
1  Belian 1-2   1.2657534  1.8945205
2  Belian 2-3   2.0904110  3.0164384
3  Belian 3-4          NA         NA
4  BNorth 1-2   0.9753425  1.4013699
5  BNorth 2-3   2.3506849  2.8136986
6  BNorth 3-4   0.9369863  0.9808219
7  BSouth 1-2   1.0164384  1.0561644
8  BSouth 2-3   3.0876712  3.1287671
9  BSouth 3-4   0.9616438  0.9698630
10 DC1    1-2   3.8547945  4.6904110
11 DC1    2-3          NA         NA
12 DC1    3-4          NA         NA
13 DC2    1-2   1.8602740  2.7671233
14 DC2    2-3          NA         NA
15 DC2    3-4          NA         NA
16 E      1-2   0.8657534  1.4068493
17 E      2-3   2.3726027  2.8958904
18 E      3-4   0.9506849  0.9890411
19 LF     1-2   1.2356164  1.3136986
20 LF     2-3   2.8356164  2.9150685
21 LF     3-4   0.9698630  0.9753425
22 Seraya 1-2   2.5945205  2.6794521
23 Seraya 2-3   2.2547945  2.4164384
24 Seraya 3-4          NA         NA
25 Tower  1-2   0.9671233  0.9972603
26 Tower  2-3   1.0547945  1.1054795
27 Tower  3-4   1.9616438  2.0095890

In [28]:
mean()

ERROR: Error in mean.default(): argument "x" is missing, with no default

[1] 462