In [57]:
import pandas as pd
import numpy  as np

In [58]:
trees_df = pd.read_csv("../Results/trees_sorted.csv")

In [59]:
trees_df.date = pd.to_datetime(trees_df.date)

In [60]:
grp = trees_df.groupby(["plot", "census"])

In [61]:
a = grp.date.agg(['min', 'max'])

In [66]:
pd.DataFrame.between_time(a["min"], a["max"])

TypeError: between_time() missing 1 required positional argument: 'end_time'

In [74]:
a["mid"] = (a["min"] + (a["max"] - a["min"])/2)

In [75]:
a

                     min        max                 mid
plot   census
BNorth 1      2011-07-12 2011-07-14 2011-07-13 00:00:00
       2      2012-07-04 2013-05-09 2012-12-05 12:00:00
       3      2015-09-14 2015-10-13 2015-09-28 12:00:00
       4      2016-09-19 2016-09-22 2016-09-20 12:00:00
BSouth 1      2011-07-27 2011-07-30 2011-07-28 12:00:00
       2      2012-08-04 2012-08-30 2012-08-17 00:00:00
       3      2015-10-01 2015-10-05 2015-10-03 00:00:00
       4      2016-09-20 2016-09-22 2016-09-21 00:00:00
Belian 1      2011-06-10 2011-08-06 2011-07-08 12:00:00
       2      2012-11-10 2013-12-17 2013-05-30 00:00:00
       3      2016-01-19 2016-10-19 2016-06-04 00:00:00
DC1    1      2011-04-10 2012-12-10 2012-02-09 00:00:00
       2      2016-10-17 2016-10-17 2016-10-17 00:00:00
DC2    1      2013-02-09 2014-12-03 2014-01-06 00:00:00
       2      2016-10-12 2016-10-12 2016-10-12 00:00:00
E      1      2011-05-28 2011-07-01 2011-06-14 00:00:00
       2      2012-05-12 2013-05-08 2012-11-08 12:00:00
       3      2015-09-21 2015-10-12 2015-10-01 12:00:00
       4      2016-09-23 2016-09-30 2016-09-26 12:00:00
LF     1      2011-07-17 2011-07-18 2011-07-17 12:00:00
       2      2012-10-11 2012-12-06 2012-11-08 00:00:00
       3      2015-10-07 2015-10-09 2015-10-08 00:00:00
       4      2016-09-27 2016-09-29 2016-09-28 00:00:00
Seraya 1      2011-08-11 2011-08-15 2011-08-13 00:00:00
       2      2014-03-19 2014-05-16 2014-04-17 00:00:00
       3      2016-08-16 2016-10-15 2016-09-15 00:00:00
Tower  1      2011-06-16 2011-07-04 2011-06-25 00:00:00
       2      2012-06-21 2012-06-25 2012-06-23 00:00:00
       3      2013-07-15 2013-08-17 2013-07-31 12:00:00
       4      2015-08-03 2015-08-05 2015-08-04 00:00:00